<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<form action="/" method="post">
  <label for="url">Enter URL:</label>
  <input type="text" id="url" name="url" />
  <input type="submit" value="Shorten!" name="shorten" />
</form>
